<div class="row">
  <div class="item-image col-3">
    <div class="image-search">
      <img alt="" class="fit-image" src="assets/avt-default.png">
    </div>
  </div>
  <div class="item-desc audio-feedback col-9 d-flex flex-column justify-content-between">
    <div class="desc-box d-flex d-flex justify-content-between">
      <div class="d-flex">
        <div class="play-btn-1 play-btn d-flex justify-content-center align-items-center me-2">
          <i class="fa-solid fa-play"></i>
        </div>
        <div class="first-desc-row d-inline-block">
          <p class="user-upload m-0 grey-text font-12">User upload</p>
          <p class="item-name m-0">Song name</p>
        </div>
      </div>
      <div class="second-desc-row d-inline-block right-text">
        <p class="date-upload m-0 grey-text font-12">Time upload</p>
        <p class="tag-ref m-0 px-2 small-text">Dance & EDM</p>
      </div>
    </div>
    <div class="play-box">
      <div class="wave-song" id="wave-1">

      </div>
      <div class="action-box d-flex justify-content-between mt-2 mb-1">
        <div class="like-box">
        <span
          class="like-count font-12 grey-text border py-1 px-2 me-1 border-radius-1">
          <i class="fa-solid fa-heart"></i> 110K
        </span>
          <span class="like-count font-12 grey-text border py-1 px-2 border-radius-1">
          <i class="fa-solid fa-square-plus"></i> Add to playlist
        </span>
        </div>
        <div class="like-box">
        <span
          class="play-count font-12 grey-text border py-1 px-2 me-1 border-radius-1">
          <i class="fa-solid fa-play"></i> 110K
        </span>
          <span class="comment-count font-12 grey-text border py-1 px-2 border-radius-1">
          <i class="fa-solid fa-comment"></i> 100K
        </span>
        </div>
      </div>
    </div>
  </div>
</div>
