<div class="container-fluid body-container">
  <div class="container body">
    <div class="row pt-4">
      <div class="col-9">

        <div class="slider-area p-4">
          <h2 class="slider-header">Top 10 song</h2>
          <div class="slider-body">
            <div class="trending-song">
              <div class="item-contain col col-3">  <!-- ngFor here -->
                <div class="item-img">
                  <img class="fit-image" src="/assets/song.jfif" alt="">
                  <p class="m-0 item-title text-start">Song name</p>
                  <p class="m-0 item-description font-12 grey-text text-start">Song username</p>
                </div>
              </div>
            </div>
            <button class="prev-arrow arrow"><i class="fa-solid fa-angle-left"></i></button>
            <button class="next-arrow arrow"><i class="fa-solid fa-angle-right"></i></button>
          </div>
        </div>

      </div>
      <div class="col-3 border-start"></div>
    </div>
  </div>
</div>
