<div class="row">
  <div class="item-image col-3">
    <div class="image-search">
      <img class="fit-image" src="/assets/avt-default.png" alt="">
    </div>
  </div>
  <div class="item-desc col-9 d-flex align-items-center">
    <div class="d-block">
      <div>
        <p class="m-0 font-16 bold">Playlist</p>
        <p class="m-0 grey-text">Name</p>
        <p class="m-0 grey-text">Address</p>
      </div>
      <div class="action-box d-flex justify-content-between mt-2">
        <div class="like-box">
        <span class="like-count font-12 grey-text border py-1 px-2 me-1 border-radius-1 pointer">
          <i class="fa-solid fa-heart"></i> 110K
        </span>

        </div>
        <div class="like-box">
        <span class="play-count font-12 grey-text border py-1 px-2 me-1 border-radius-1 pointer">
          <i class="fa-solid fa-play"></i> 110K
        </span>
          <span class="comment-count font-12 grey-text border py-1 px-2 border-radius-1 pointer">
          <i class="fa-solid fa-comment"></i> 100K
        </span>
        </div>
      </div>
    </div>
  </div>
</div>
